USE [master]
GO
/****** Object:  Database [DemoLC]    Script Date: 24/08/2021 11:51:47 a. m. ******/
CREATE DATABASE [DemoLC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoLC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LUDWIG\MSSQL\DATA\DemoLC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoLC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LUDWIG\MSSQL\DATA\DemoLC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoLC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoLC]
GO
/****** Object:  User [Ludwig]    Script Date: 24/08/2021 11:51:47 a. m. ******/
CREATE USER [Ludwig] FOR LOGIN [Ludwig] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 24/08/2021 11:51:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Menu_ID] [int] IDENTITY(1,1) NOT NULL,
	[Display_Name] [varchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
	[Icon_Name] [varchar](50) NULL,
	[Path] [varchar](50) NULL,
	[Menu_Padre_ID] [int] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Menu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 24/08/2021 11:51:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contrasenia] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([Menu_ID], [Display_Name], [Active], [Icon_Name], [Path], [Menu_Padre_ID]) VALUES (1, N'Menu1', 1, NULL, NULL, 0)
INSERT [dbo].[Menu] ([Menu_ID], [Display_Name], [Active], [Icon_Name], [Path], [Menu_Padre_ID]) VALUES (2, N'Menu2', 1, NULL, NULL, 1)
INSERT [dbo].[Menu] ([Menu_ID], [Display_Name], [Active], [Icon_Name], [Path], [Menu_Padre_ID]) VALUES (3, N'Menu3', 1, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID_Usuario], [Usuario], [Contrasenia]) VALUES (1, N'Ludwig22', N'98762122')
INSERT [dbo].[Usuarios] ([ID_Usuario], [Usuario], [Contrasenia]) VALUES (2, N'Ludwig2', N'9876')
INSERT [dbo].[Usuarios] ([ID_Usuario], [Usuario], [Contrasenia]) VALUES (5, N'Ludwig156211', N'9876156211')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
